
nav {
transition: 1s;
position: sticky;
background-color:#ccc;
box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav ul li {
  margin-left:30px;
}
nav ul:hover {
  transition: 0.5s;
  font-size:16px;
}
nav ul li.active {
 border-bottom:2px solid red;
}
#contactus  {
margin-top:80px;
}
#contactus .container h3 {
  color:darkcyan;
  border-bottom: 2px dotted gray;
  padding-bottom: 20px;
}
address{
  font-size:1.5em;
  padding-top:20px;
  color: #666666;
}
address span ,div address:nth-child(4) span {
  font-size:1em;
}
address h4 {
  margin-bottom:25px;
  color:red;

}
#from1 {
  background-color: #F8F8F8;
  padding-bottom:60px;
  font-size:1.5em;
}
#from1 h4{
  color:darkcyan;

  padding:40px 40px 40px 0;;

}

footer {
  background-color: black;
  color:white;
  height:100px;
}
footer div{
padding-top:50px;
}
