
.container #hero { 
  text-align: center;
  font-size:2em;
  font-weight:500;
  z-index:1;
  padding-top:150px;
  height:100vh;
}
.container #hero p {
  color:white;
  font-size:1.5em;
  z-index:100;

}
nav {
  transition: 1s;
position: sticky;
  
  background-color:#ccc;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav ul li {
  margin-left:30px;
}
nav ul:hover {
  transition: 0.5s;
  font-size:16px;
}
nav ul li.active {
 border-bottom:2px solid red;
}
#showcase {
  top:0;
 width:100%;
  height:100vh;
  background:linear-gradient( rgba(0, 0, 0, 0.692) 100%, rgba(0, 0, 0, 0.747)100%),url('../images/mechanic.jpeg') ;
 background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  opacity:0.9;
  transition: 2s;
}

#showcase1 {
padding:50px;
 width:100%;
height:100vh;
  background:linear-gradient( rgba(0, 0, 0, 0.692) 100%, rgba(0, 0, 0, 0.747)100%),url('../images/panalu.jpg') ;
 background-size: cover;
 background-position:center;
 background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -1;
  opacity:0.9;
  transition: 2s;
}


#grid-images {
  padding:100px;
 }
 #grid-images .container p {
   text-align:center;
  font-weight:300; 
  font-size:2.5em;
  margin-bottom:40px;
  color: rgb(84, 100, 98) ;
 }
#grid-images .container .row .col-xs-12 {
  padding:20px;
}
#grid-images .container .row .col-xs-12 a img{
  box-shadow: 0 4px 8px 0 rgba(49, 49, 49, 0.2), 0 4px 20px 0 rgba(71, 71, 71, 0.19); 
  width:100%;
   height:auto; 
  }


/*how we strated our company*/

#extrainfo {
  text-align: center;
  position: relative;
  margin-top:150px;
}
#extrainfo p:nth-child(1) {
 text-align: center;
  font-weight:300; 
  font-size:3em;
  margin-bottom:50px;
  color: rgb(84, 100, 98) ;
  }
  #extrainfo p:nth-child(2) {
font-size:1.5em;
color:#666666;
padding:20px;

  }

@media screen and (max-width:700px){
  
.container #hero { 
  text-align: center;
  font: size 1.5em;
  font-weight:300;
  z-index:1;
  padding-top:150px;
  height:100vh;
}
.container #hero p {
  color:white;
  font-size:1.5em;
  z-index:1;

}
#grid-images .container h1 {
  font-size:2em;
}
#grid-images {
  padding:10px;
 }
#grid-images .container .row .col-xs-12 a img {
  width:100%;
   height:auto; 
}
#extrainfo {
  position: relative;
  margin-top:70px;
}
#extrainfo p:nth-child(1) {

  font-weight:300; 
  font-size:2.5em;
  margin-bottom:40px;
  color: rgb(84, 100, 98) ;
  }
  
   #extrainfo p:nth-child(2) {

    font-weight:300; 
    font-size:1.8em;
    margin-bottom:40px;
    color: rgb(84, 100, 98) ;
    }
}

 

@media screen and (max-width:500px){
  .container #hero { 
    text-align: center;
    font: size 1.5em;
    font-weight:300;
    z-index:1;
    padding-top:90px;
    height:100vh;
  }
  #grid-images .container .row .col-xs-12 a img{
    box-shadow: 0 4px 8px 0 rgba(49, 49, 49, 0.2), 0 4px 20px 0 rgba(71, 71, 71, 0.19); 
    width:100%;

     height:auto;
 }
 #grid-images {
   margin-top:50px;
  padding:10px;
 }
  #grid-images .container h1 {
    font-size:2em;
  }
  #extrainfo {
    position: relative;
    margin-top:50px;
  }
  #extrainfo p:nth-child(1) {

    font-weight:300; 
    font-size:2em;
    margin-bottom:40px;
    color: rgb(84, 100, 98) ;
    }
    #extrainfo p:nth-child(2) {

      font-weight:300; 
      font-size:1.3em;
      margin-bottom:40px;
      color: rgb(84, 100, 98) ;
      }
}

/*footer*/
footer {
  background-color: black;
  color:white;
  height:100px;
}
footer div{
padding-top:50px;
}


