
/*index page */
.container #hero { 
  text-align: center;
  font-size:2em;
  font-weight:500;
  z-index:1;
  padding-top:150px;
  height:100vh;
}
.container #hero p {
  color:white;
  font-size:1.5em;
  z-index:100;

}
i.fa-facebook {
  font-size:1.5em;
  text-align: center;
  color:#fff;
}
i.fa-twitter {
  font-size:1.5em;
 text-align: center;
  color:#fff;
}

nav {
transition: 1s;
position: sticky;
background-color:#ccc;
box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav ul li {
  margin-left:30px;
}
nav ul:hover {
  transition: 0.5s;
  font-size:16px;
}
.navbar-brand{
padding-left: 50px;
padding-right: 50px;
}
nav ul li.active {
 transition:2s;
 border-bottom:3px solid red;
} 
.navbar,.nav-link,.nav-item,.navbar-light {

  color:#fff;
}
.bd-navbar {
  background-color: #563d7c;

}
#showcase {
 top:0;
 width:100%;
  height:100vh;
  background:linear-gradient( rgba(0, 0, 0, 0.692) 100%, rgba(0, 0, 0, 0.747)100%),url('../images/mechanic.jpeg') ;
 background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  opacity:0.9;
  transition: 2s;
}

#showcase1 {
padding:50px;
 width:100%;
height:100vh;
  background:linear-gradient( rgba(0, 0, 0, 0.692) 100%, rgba(0, 0, 0, 0.747)100%),url('../images/panalu.jpg') ;
 background-size: cover;
 background-position:center;
 background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -1;
  opacity:0.9;
  transition: 2s;
}


#grid-images {
  padding:100px;
 background-color: #f3f3f3; 
 }
 #grid-images .container p {
   text-align:center;
  font-weight:300; 
  font-size:2.5em;
  margin-bottom:40px;
  color: rgb(240, 129, 3) ;
 }
#grid-images .container .row .col-xs-12 {
  padding:20px;
}
#grid-images .container .row .col-xs-12 a img{
  box-shadow: 0 10px 10px 0 rgba(49, 49, 49, 0.2), 0 4px 20px 0 rgba(71, 71, 71, 0.19); 
  width:100%;
   height:auto; 
  }

/*how we strated our company*/

#extrainfo {
  text-align: center;
  position: relative;
  margin-top:150px;
}
#extrainfo p:nth-child(1) {
 text-align: center;
  font-weight:300; 
  font-size:3em;
  margin-bottom:50px;
  color: rgb(247, 137, 12) ;
  }
  #extrainfo p:nth-child(2) {
font-size:1.5em;
color:#242222;
padding:20px;

  }


  /*footer*/

footer {
    background-color: black;
    color:white;
    height:100px;
  }
  footer div{
  padding-top:50px;
  }



 /*SERVICES PAGE */

 #services {
  margin-top:80px;
 }
 
 #services h1 {
  text-align: center;
  font-weight:300; 
  font-size:3em;
  color: rgb(247, 137, 12) ;
 }
 #services div.col-xs-12 p {
   font-size:1.2em;
  
   /* box-shadow: 0 4px 4px 0 rgba(66, 63, 63, 0.2), 0 4px 20px 0 rgba(71, 71, 71, 0.19);  */
   
 }
#services div.col-xs-12:nth-child(2), #services div.auto-content {
   color:#202020;
   font-size:1.4em;
  }
 
  #services div.col-xs-12 ul li {
    color:#1b0e03;
  }


/*WHY US PAGE */

#whyus {
  margin-top:50px;
  background:rgb(244, 245, 244);
}
#whyus h1 {
  text-align: center;
  font-weight:300; 
  font-size:3em;
  color: rgb(247, 137, 12);
}

#icons div:nth-child(3){
  padding-bottom:80px;
}
#icons h4 {
  z-index:1;
  color:green;
  font-weight:300; 
  font-size:2em;
  opacity:1;
}
#icons div.col-xs-12 i {
  z-index:-1;
  font-size:48px;
  color:	#669966;
  
}
#icons p {
color: #707070;
font-size:1.3em;
}

/*PRICING*/

#pricing {


 background: linear-gradient(to top, #678d930a, #6b6b83, #aa4b6b73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
#pricing table {
  z-index:-1;
  width:100%;
  margin-bottom:40px;
  margin-top:40px;
  box-shadow: 0 6px 8px 0 rgba(49, 49, 49, 0.2), 0 6px 20px 0 rgba(71, 71, 71, 0.19); 
}
#pricing .container h1 {
  text-align: center;
    font-weight:300; 
    font-size:3em;
    color: rgb(247, 137, 12);
}
td, th {
  border: 1px solid #e6e6e696;
  text-align: left;
  padding: 20px;
}
tr:nth-child(even) {
  background-color: #c9c6c6d7;
}
/*SPECIAL OFFERS*/
#special {

  background-color: #ccc;
margin:0;
}
#special h1 {
  padding:50px;
}

/*CONTACT US PAGE */

#contactus  {
  margin-top:55px;
  background:linear-gradient(to right, #b92b27, #1565c0);  
  }
  #contactus div.row {
    background-color:#ccc;
    box-shadow: 0 4px 4px 0 rgba(66, 63, 63, 0.2), 0 4px 20px 0 rgba(71, 71, 71, 0.19); 
  }
  #contactus div.row .col-xs-12{
    background-color:rgb(255, 255, 255);
    
  }
  #contactus .container h3 {
    font-weight:300; 
    font-size:2.5em;
    color: rgb(247, 137, 12);
    z-index:1;
  }
  address{
    font-size:1.5em;
    padding-top:20px;
    color: #666666;
  }
  address span ,div address:nth-child(4) span {
    font-size:1em;
  }
  address h4 {
   
    text-align: center;
    font-weight:300; 
    font-size:1em;
    margin-bottom:40px;
    color: rgb(247, 137, 12);
  
  }
  #from1 {
    
    background-color: #F8F8F8;
    padding-bottom:60px;
    font-size:1.5em;
  }
  #from1 h4{
    
  padding:40px;
    text-align: center;
    font-weight:300; 
    font-size:1.5em;
    margin-bottom:40px;
    color: rgb(247, 137, 12);
    
}
 label {
  text-align: center;
  font-weight:300; 
  font-size:1em;
  margin-bottom:40px;
  color: rgb(252, 141, 14);
}

/*media screen 700px */

@media screen and (max-width:700px){
  
  .container #hero { 
    text-align: center;
    font: size 1.5em;
    font-weight:300;
    z-index:1;
    padding-top:150px;
    height:100vh;
  }
  .container #hero p {
    color:white;
    font-size:1.5em;
    z-index:1;
  
  }
  #grid-images {
    padding:10px;
  
   }
  #grid-images .container h1 {
    font-size:2em;
  }
  
  #grid-images .container .row .col-xs-12 a img {
    width:100%;
     height:auto; 
  }
  #extrainfo {
    position: relative;
    margin-top:70px;
  }
  #extrainfo p:nth-child(1) {
  
    font-weight:300; 
    font-size:2.5em;
    margin-bottom:40px;
    color: rgb(84, 100, 98) ;
    }
    
     #extrainfo p:nth-child(2) {
  
      font-weight:300; 
      font-size:1.8em;
      margin-bottom:40px;
      color:#242222 ;
      }
  }
  
  /*media screen 500px */
  
  @media screen and (max-width:500px){
    .container #hero { 
      text-align: center;
      font: size 1.5em;
      font-weight:300;
      z-index:1;
      padding-top:90px;
      height:100vh;
    }
    #grid-images .container .row .col-xs-12 a img{
      box-shadow: 0 4px 8px 0 rgba(49, 49, 49, 0.2), 0 4px 20px 0 rgba(71, 71, 71, 0.19); 
      width:100%;
  
       height:auto;
   }
   #grid-images {
     margin-top:50px;
    padding:10px;
   }
    #grid-images .container h1 {
      font-size:2em;
    }
    #extrainfo {
      position: relative;
      margin-top:50px;
    }
    #extrainfo p:nth-child(1) {
  
      font-weight:300; 
      font-size:2em;
      margin-bottom:40px;
      color: rgb(84, 100, 98) ;
      }
      #extrainfo p:nth-child(2) {
  
        font-weight:300; 
        font-size:1.3em;
        margin-bottom:40px;
        color: rgb(84, 100, 98) ;
        }
  }




