body {
  background:green;
}

nav {
  transition: 1s;
position: sticky;
  
  background-color:#ccc;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav ul li {
  margin-left:30px;
}
nav ul:hover {
  transition: 0.5s;
  font-size:16px;
}
nav ul li.active {
 border-bottom:2px solid red;
}
#whyus {
  margin-top:50px;
  background:rgb(244, 245, 244);
}
#whyus h1 {
 z-index:1;
  padding-top:50px;
  color:hsl(0, 20%, 50%);
}
#icons div:nth-child(3){
  padding-bottom:80px;
}
#icons h4 {
  z-index:1;
  color:green;
}
#icons div.col-xs-12 i {
  z-index:-1;
  font-size:48px;
  color:	#669966;
  
}
#icons p {
color: #666666;
font-size:1.3em;
}
/*footer*/
footer {
  
  background-color: black;
  color:white;
  height:100px;
}
footer div{
padding-top:50px;
}

/* #icons div.col-xs-12 p {
  text-align:center;
} */

@media screen and (max-width:588px){
  .container #hero p {
    color:white;
    font-size:1.0em;
    z-index:10000;
  }

 
}
